{% extends "layout.html" %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-4 offset-3 text-center">
      <form action="/signup" method="post">
        <h1 class="mt-5 mb-3">SignUp</h1>
        <div class="input-group mb-5">
          <input
            type="text"
            class="form-control"
            name="name"
            placeholder="Name"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-3">
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Password"
          />
        </div>
        <input type="submit" class="btn btn-info" value="SignUp" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
